/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$sprite_close_name = 'sprite-close';
$sprite_close_x = 119px;
$sprite_close_y = 60px;
$sprite_close_offset_x = -119px;
$sprite_close_offset_y = -60px;
$sprite_close_width = 22px;
$sprite_close_height = 22px;
$sprite_close_total_width = 283px;
$sprite_close_total_height = 155px;
$sprite_close_image = 'sprite.png';
$sprite_close = 119px 60px -119px -60px 22px 22px 283px 155px 'sprite.png' 'sprite-close';
$sprite_icon2_name = 'sprite-icon2';
$sprite_icon2_x = 89px;
$sprite_icon2_y = 0px;
$sprite_icon2_offset_x = -89px;
$sprite_icon2_offset_y = 0px;
$sprite_icon2_width = 129px;
$sprite_icon2_height = 60px;
$sprite_icon2_total_width = 283px;
$sprite_icon2_total_height = 155px;
$sprite_icon2_image = 'sprite.png';
$sprite_icon2 = 89px 0px -89px 0px 129px 60px 283px 155px 'sprite.png' 'sprite-icon2';
$sprite_icon3_name = 'sprite-icon3';
$sprite_icon3_x = 0px;
$sprite_icon3_y = 95px;
$sprite_icon3_offset_x = 0px;
$sprite_icon3_offset_y = -95px;
$sprite_icon3_width = 84px;
$sprite_icon3_height = 60px;
$sprite_icon3_total_width = 283px;
$sprite_icon3_total_height = 155px;
$sprite_icon3_image = 'sprite.png';
$sprite_icon3 = 0px 95px 0px -95px 84px 60px 283px 155px 'sprite.png' 'sprite-icon3';
$sprite_icon4_name = 'sprite-icon4';
$sprite_icon4_x = 0px;
$sprite_icon4_y = 0px;
$sprite_icon4_offset_x = 0px;
$sprite_icon4_offset_y = 0px;
$sprite_icon4_width = 89px;
$sprite_icon4_height = 95px;
$sprite_icon4_total_width = 283px;
$sprite_icon4_total_height = 155px;
$sprite_icon4_image = 'sprite.png';
$sprite_icon4 = 0px 0px 0px 0px 89px 95px 283px 155px 'sprite.png' 'sprite-icon4';
$sprite_icon5_name = 'sprite-icon5';
$sprite_icon5_x = 218px;
$sprite_icon5_y = 127px;
$sprite_icon5_offset_x = -218px;
$sprite_icon5_offset_y = -127px;
$sprite_icon5_width = 36px;
$sprite_icon5_height = 21px;
$sprite_icon5_total_width = 283px;
$sprite_icon5_total_height = 155px;
$sprite_icon5_image = 'sprite.png';
$sprite_icon5 = 218px 127px -218px -127px 36px 21px 283px 155px 'sprite.png' 'sprite-icon5';
$sprite_icon6_name = 'sprite-icon6';
$sprite_icon6_x = 89px;
$sprite_icon6_y = 60px;
$sprite_icon6_offset_x = -89px;
$sprite_icon6_offset_y = -60px;
$sprite_icon6_width = 30px;
$sprite_icon6_height = 29px;
$sprite_icon6_total_width = 283px;
$sprite_icon6_total_height = 155px;
$sprite_icon6_image = 'sprite.png';
$sprite_icon6 = 89px 60px -89px -60px 30px 29px 283px 155px 'sprite.png' 'sprite-icon6';
$sprite_logo_name = 'sprite-logo';
$sprite_logo_x = 218px;
$sprite_logo_y = 65px;
$sprite_logo_offset_x = -218px;
$sprite_logo_offset_y = -65px;
$sprite_logo_width = 61px;
$sprite_logo_height = 62px;
$sprite_logo_total_width = 283px;
$sprite_logo_total_height = 155px;
$sprite_logo_image = 'sprite.png';
$sprite_logo = 218px 65px -218px -65px 61px 62px 283px 155px 'sprite.png' 'sprite-logo';
$sprite_map_name = 'sprite-map';
$sprite_map_x = 218px;
$sprite_map_y = 0px;
$sprite_map_offset_x = -218px;
$sprite_map_offset_y = 0px;
$sprite_map_width = 65px;
$sprite_map_height = 65px;
$sprite_map_total_width = 283px;
$sprite_map_total_height = 155px;
$sprite_map_image = 'sprite.png';
$sprite_map = 218px 0px -218px 0px 65px 65px 283px 155px 'sprite.png' 'sprite-map';
$sprite_close_2x_name = 'sprite-close-2x';
$sprite_close_2x_x = 238px;
$sprite_close_2x_y = 120px;
$sprite_close_2x_offset_x = -238px;
$sprite_close_2x_offset_y = -120px;
$sprite_close_2x_width = 44px;
$sprite_close_2x_height = 44px;
$sprite_close_2x_total_width = 566px;
$sprite_close_2x_total_height = 310px;
$sprite_close_2x_image = 'sprite-2x.png';
$sprite_close_2x = 238px 120px -238px -120px 44px 44px 566px 310px 'sprite-2x.png' 'sprite-close-2x';
$sprite_icon2_2x_name = 'sprite-icon2-2x';
$sprite_icon2_2x_x = 178px;
$sprite_icon2_2x_y = 0px;
$sprite_icon2_2x_offset_x = -178px;
$sprite_icon2_2x_offset_y = 0px;
$sprite_icon2_2x_width = 258px;
$sprite_icon2_2x_height = 120px;
$sprite_icon2_2x_total_width = 566px;
$sprite_icon2_2x_total_height = 310px;
$sprite_icon2_2x_image = 'sprite-2x.png';
$sprite_icon2_2x = 178px 0px -178px 0px 258px 120px 566px 310px 'sprite-2x.png' 'sprite-icon2-2x';
$sprite_icon3_2x_name = 'sprite-icon3-2x';
$sprite_icon3_2x_x = 0px;
$sprite_icon3_2x_y = 190px;
$sprite_icon3_2x_offset_x = 0px;
$sprite_icon3_2x_offset_y = -190px;
$sprite_icon3_2x_width = 168px;
$sprite_icon3_2x_height = 120px;
$sprite_icon3_2x_total_width = 566px;
$sprite_icon3_2x_total_height = 310px;
$sprite_icon3_2x_image = 'sprite-2x.png';
$sprite_icon3_2x = 0px 190px 0px -190px 168px 120px 566px 310px 'sprite-2x.png' 'sprite-icon3-2x';
$sprite_icon4_2x_name = 'sprite-icon4-2x';
$sprite_icon4_2x_x = 0px;
$sprite_icon4_2x_y = 0px;
$sprite_icon4_2x_offset_x = 0px;
$sprite_icon4_2x_offset_y = 0px;
$sprite_icon4_2x_width = 178px;
$sprite_icon4_2x_height = 190px;
$sprite_icon4_2x_total_width = 566px;
$sprite_icon4_2x_total_height = 310px;
$sprite_icon4_2x_image = 'sprite-2x.png';
$sprite_icon4_2x = 0px 0px 0px 0px 178px 190px 566px 310px 'sprite-2x.png' 'sprite-icon4-2x';
$sprite_icon5_2x_name = 'sprite-icon5-2x';
$sprite_icon5_2x_x = 436px;
$sprite_icon5_2x_y = 254px;
$sprite_icon5_2x_offset_x = -436px;
$sprite_icon5_2x_offset_y = -254px;
$sprite_icon5_2x_width = 72px;
$sprite_icon5_2x_height = 42px;
$sprite_icon5_2x_total_width = 566px;
$sprite_icon5_2x_total_height = 310px;
$sprite_icon5_2x_image = 'sprite-2x.png';
$sprite_icon5_2x = 436px 254px -436px -254px 72px 42px 566px 310px 'sprite-2x.png' 'sprite-icon5-2x';
$sprite_icon6_2x_name = 'sprite-icon6-2x';
$sprite_icon6_2x_x = 178px;
$sprite_icon6_2x_y = 120px;
$sprite_icon6_2x_offset_x = -178px;
$sprite_icon6_2x_offset_y = -120px;
$sprite_icon6_2x_width = 60px;
$sprite_icon6_2x_height = 58px;
$sprite_icon6_2x_total_width = 566px;
$sprite_icon6_2x_total_height = 310px;
$sprite_icon6_2x_image = 'sprite-2x.png';
$sprite_icon6_2x = 178px 120px -178px -120px 60px 58px 566px 310px 'sprite-2x.png' 'sprite-icon6-2x';
$sprite_logo_2x_name = 'sprite-logo-2x';
$sprite_logo_2x_x = 436px;
$sprite_logo_2x_y = 130px;
$sprite_logo_2x_offset_x = -436px;
$sprite_logo_2x_offset_y = -130px;
$sprite_logo_2x_width = 122px;
$sprite_logo_2x_height = 124px;
$sprite_logo_2x_total_width = 566px;
$sprite_logo_2x_total_height = 310px;
$sprite_logo_2x_image = 'sprite-2x.png';
$sprite_logo_2x = 436px 130px -436px -130px 122px 124px 566px 310px 'sprite-2x.png' 'sprite-logo-2x';
$sprite_mar_2x_name = 'sprite-mar-2x';
$sprite_mar_2x_x = 436px;
$sprite_mar_2x_y = 0px;
$sprite_mar_2x_offset_x = -436px;
$sprite_mar_2x_offset_y = 0px;
$sprite_mar_2x_width = 130px;
$sprite_mar_2x_height = 130px;
$sprite_mar_2x_total_width = 566px;
$sprite_mar_2x_total_height = 310px;
$sprite_mar_2x_image = 'sprite-2x.png';
$sprite_mar_2x = 436px 0px -436px 0px 130px 130px 566px 310px 'sprite-2x.png' 'sprite-mar-2x';
$spritesheet_width = 283px;
$spritesheet_height = 155px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $sprite_close $sprite_icon2 $sprite_icon3 $sprite_icon4 $sprite_icon5 $sprite_icon6 $sprite_logo $sprite_map;
$spritesheet = 283px 155px 'sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 566px;
$retina_spritesheet_height = 310px;
$retina_spritesheet_image = 'sprite-2x.png';
$retina_spritesheet_sprites = $sprite_close_2x $sprite_icon2_2x $sprite_icon3_2x $sprite_icon4_2x $sprite_icon5_2x $sprite_icon6_2x $sprite_logo_2x $sprite_mar_2x;
$retina_spritesheet = 566px 310px 'sprite-2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$sprite_close_group_name = 'sprite-close';
$sprite_close_group = 'sprite-close' $sprite_close $sprite_close_2x;
$sprite_icon2_group_name = 'sprite-icon2';
$sprite_icon2_group = 'sprite-icon2' $sprite_icon2 $sprite_icon2_2x;
$sprite_icon3_group_name = 'sprite-icon3';
$sprite_icon3_group = 'sprite-icon3' $sprite_icon3 $sprite_icon3_2x;
$sprite_icon4_group_name = 'sprite-icon4';
$sprite_icon4_group = 'sprite-icon4' $sprite_icon4 $sprite_icon4_2x;
$sprite_icon5_group_name = 'sprite-icon5';
$sprite_icon5_group = 'sprite-icon5' $sprite_icon5 $sprite_icon5_2x;
$sprite_icon6_group_name = 'sprite-icon6';
$sprite_icon6_group = 'sprite-icon6' $sprite_icon6 $sprite_icon6_2x;
$sprite_logo_group_name = 'sprite-logo';
$sprite_logo_group = 'sprite-logo' $sprite_logo $sprite_logo_2x;
$sprite_map_group_name = 'sprite-map';
$sprite_map_group = 'sprite-map' $sprite_map $sprite_mar_2x;
$retina_groups = $sprite_close_group $sprite_icon2_group $sprite_icon3_group $sprite_icon4_group $sprite_icon5_group $sprite_icon6_group $sprite_logo_group $sprite_map_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
