@import 'slick.css';
@import 'slick-theme.css';
@import 'fotorama.css';
@import 'animate.min.css';
@import "reset.css";
@import "variables";
@import 'flex';
@import 'nib';
@import 'sprite';
@import 'mixins';

body 
  font-family roboto
  background: url(../images/bg.jpg) no-repeat top center
.wrapper 
  min-width 1000px
.section-wrapper_hidden 
  overflow-y hidden
.section-wrapper
  max-width 1200px 
  margin 0 auto
  padding 0 20px 
.section-cont .section-wrapper 
.section-cont_4 .section-wrapper   
.section-cont_6 .section-wrapper 
.footer-wrapper  
  max-width 1013px
  margin 0 auto
  padding 0 20px
.section-cont_5 .section-wrapper
  max-width 1100px
.section-cont_5
  h2.section-cont__h2
    font-size 58px
    padding-left 110px
.section-head
  max-width 1920px
.container-wrapper
  width 100%
  margin 0 auto
.header
  padding 20px 45px
  &__row
    &:first-child
      margin 0 0 10px 0
  &__logo
    text-decoration none
    &:before  
      retinaSprite($sprite_logo_group)
      content ''
      display inline-block
      vertical-align: middle 
      margin-right 5px
      box-flex: 1;
      flex: 0 0 auto;
  &__span2 
    font-size 9px 
    display block
    text-transform: uppercase
    margin-top 5px
  &__span1
    font-size 24px
  &__form 
    display inline-block
    margin-right 10px
.menu
  &__item 
    margin-left 25px
    &_active a
      color red 
      text-decoration: none
.section-main
  &__cont 
    margin-bottom 80px
  &__cont1_65
    width 65%
    margin-top 40px
    img
      box-flex: 1;
      flex: 0 0 auto;
  &__cont1_top 
    margin-top 0px
    > a 
      margin-top 10px
  &__links
    margin 0 0 0px 0
  &__link 
    font-size 18px
    opacity 0.5
    &.slick-current
      opacity 1
  &__p
    margin-top 50px
    p 
      font-size 18px
      line-height 27px
      a 
        margin 10px 0 0 0
        display block
  &__s 
    width 90px
    margin-left 20px
    margin-top 40px
    a
      font-size 12px
    p
      font-size 12px
      opacity 0.5
      margin 0 0 5px 0 
    span
      font-size 12px
      margin-left 5px
h1 
  letter-spacing 10px
  font-size 129px
  text-transform: uppercase
  font-weight 100
  color black
  margin 30px 0px 30px 90px
  span
    font-size 9px 
    color black 
    vertical-align: top
    margin-top 25px
    margin-left 10px
    font-weight bold
    position relative 
    top -15px
    letter-spacing 2px
.section-cont__wrap_712 
  width 712px
  margin-left 238px !important
.section-cont__wrap_317
  width: 317px;
  margin-right: 50px;
  z-index 1
.section-cont__wrap_213
  width: 213px;
  margin-right: 15px;
.img__bg_abs
  position absolute
  bottom 80px
.border 
  border-bottom 1px solid rgba(122, 93, 78, 0.29);
.content-wrapper_vid 
  padding 60px 0
  width 100%
  margin 0 auto
.content-wrapper_reset 
  width 100% 
  margin 0 auto 
  padding 30px 0px 330px 0px
  position relative
  background: url(../images/bg36.png) no-repeat center bottom
  background-size contain
.red_reset 
  margin 10px 0 0 0
.filter__item 
  margin 30px 0
  a 
    font-size 18px
.section-menu 
  background: white
  position fixed
  bottom 0px
  width 100%
  padding 20px
  min-width 1000px
  z-index 1
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  .button 
    text-decoration none
.section-menu-links a
  margin-right 15px
.section-men-button form 
  margin-right 15px
.label__form_select_grey 
  color #9c9c9c
  select 
    color #9c9c9c
    text-decoration underline
  &:after 
    border-top 4px solid #9c9c9c
.section-cont 
  background-image: url(../images/bg33.png), url(../images/bg34.png)
  background-position:  0px 580px, bottom
  background-repeat no-repeat, no-repeat
  background-size contain
  .img__bg
    display block
    width 100%
    height auto
  &_3
    background: url("../images/bg38.jpg") no-repeat center 76px;
  &_4
    padding-bottom 60px
  &_5 
    background: url(../images/bg35.png) no-repeat top center
  &__soft 
    color grey
    margin 0 0 100px 0
  &__phone
    color red
    text-decoration: none
    font-size 100px
    font-weight 100
    margin 20px 0
  &_8
    .content-wrapper
      padding 100px 0 30px 0
    .button_big
      margin 60px 0 100px 0
  &__span_inline 
    display inline-block
    font-weight 400 !important
  &_5 
    padding-top 50px
  &__or 
    color grey
    text-align: center
    margin 50px 0 30px 0
    a 
      color @color
      margin 0 10px
  &__form
    margin 0 0 50px 50px
  &__icon4
    retinaSprite($sprite_icon5_group)
    box-flex: 1;
    flex: 0 0 auto;
    margin-right 10px
  &__icon5
    retinaSprite($sprite_icon6_group)
    box-flex: 1;
    flex: 0 0 auto;
    margin-right 10px
  &__str1
    font-weight bold 
    color grey
    font-size 15px
  &__str2 
    color grey
    font-size 15px
    line-height 24px
    margin-bottom 20px
  &__icon1
    retinaSprite($sprite_icon2_group)
    margin 10px 0 20px 0
  &__icon2
    retinaSprite($sprite_icon3_group)
    margin 10px 0 20px 0
  &__icon3 
    retinaSprite($sprite_icon4_group)
    margin 10px 0 20px 0
  &__h3 
    font-size 90px
    color black
    margin 60px 0 0 0
    line-height 118px
  &__img 
    margin 0 0 10px 0
  &__p 
    font-size 18px
    line-height 25px
    color #333333
  &__title 
    text-align center
    width 100%
    font-size 18px
    margin-bottom 60px
  &__title2
    font-size 40px
    font-weight 100
    margin 0 0 20px 0
    position relative 
    top -5px
  &__h2 
    font-size 47px
    color black
    text-align: center
    margin 40px 0
    &_short 
      width 800px
      margin-left auto
      margin-right auto
      margin-bottom 20px
    &_top 
      margin 50px 0
    &_reset 
      text-align left
      font-size 38px
      width 88%
      line-height 60px
      margin 10px auto 60px auto
  &__a 
    color grey
    margin 15px 0 0 0
  &__col
    &_50 
      width 45%
    &_33 
      width 30%
      margin 0px 0 50px 0
      img 
        width 100% 
        height auto
        margin 0 0 20px 0
    &_70
      width 66%
      margin-right 7%
    &_40
      width 33%
      padding-right 5%
    &_60
      width 64%
    &_45
      width 50%
      padding-right 35px
      margin 0 0 60px 0
      img 
        width 100% 
        height auto
  &__photo
    margin-left 45%
  &__span 
    font-weight bold 
    font-size 18px
    line-height 25px
    &_reset 
      margin 10px 0 0 0
    &3
      display block
      font-size 18px
      width 200px
      margin 65px 0 50px 45%
      position relative
      &:before 
        content ''
        width 100px 
        height 3px 
        background: red
        display inline-block
        position absolute
        left -110px
        top 9px
      &:nth-child(2)
        margin-top 0px
      &:nth-child(3)
        margin-top 104px
      &:nth-child(4):before 
        display none
  &__video 
    width 100%
    margin 0 0 20px 0
    p 
      font-weight bold
      font-size 17px
      margin 10px 0
    a 
      color grey
    iframe 
      width @width
      height 400px
  &__s-wrapper 
    width 800px 
    margin 0 auto
    img 
      margin 0 0 30px 0
      width 100% 
    .num 
      border 2px solid red 
      width 60px 
      height @width
      border-radius (50%)
      line-height @height
      text-align: center
      color red 
      font-size 30px
      margin-right 20px
  &__slider 
    padding-bottom 60px
  &__row
    &_80
      width 80%
    &_bg
      width 50%
      height 720px
      // background: url(../images/bg11.png) no-repeat left
    &_50 
      width 50%
      padding-right 60px
      iframe 
        height 300px
    &_top 
      margin 0 0 0px 0
      img 
        margin 0 20px 0 0
    &_reset
      margin 77px 0 0 0
      &:first-child
        margin-top 150px
.m-right
  margin-right 30px
.m-left 
  margin-left 20px
.auto__width
  .red 
    display block
    line-height 28px
.view-all 
  text-align: center
  margin 20px 0 80px 0
  a 
    font-size 18px
  &-2 
    margin 30px 0
    font-size 18px
    text-align center
    a 
      font-size 18px
      margin 0 10px
.slick-dots
  bottom -45px    
.slick-dots li.slick-active button:before
  opacity: 1;
  color: #dedede;
.button_c 
  height 60px 
  line-height @height
  font-size 18px
  padding 0 40px
  margin 30px 0 20px 0
.footer__sel 
  margin-left 20px
  line-height 35px
  span 
    display block
    font-weight 400
    a 
      margin-left 5px
.just-c 
  justify-content center
.ul-wrapper 
  margin 40px 0 30px 0
.footer 
  background: rgb(241, 241, 241);
  &__bottom 
    margin-bottom 70px
  &__ul 
    width 25%
  &__img 
    width 100%
    height auto
    margin 20px 0 0 0
  &__item
    margin 15px 0
    a 
      font-size 18px 
    &:first-child
      a 
        color black
.inline
  a
    font-size 18px
  span 
    margin-right 10px
    font-size 18px
    font-weight normal
.del 
  margin 20px 0 0 0
  a 
    margin-right 20px
.content-wrapper_white 
  background: white
  padding 40px 60px
  text-align: center
.bx-slider
  max-width: 1000px;
  min-width: 960px;
  margin 0 auto 60px auto
.jsNone 
  display none
.another 
  background: rgba(255, 220, 93, 0.35);
  padding 0 15px
  height 45px 
  line-height @height
  position relative
  margin 0 0 20px 0
  &:before
    position absolute
    content ''
    border-right 22px solid rgba(255, 220, 93, 0.35);
    border-top 22px solid transparent
    border-bottom 22px solid transparent
    left -22px
h4 
  font-size 18px
  color black
  font-weight 400
  margin 0 0 12px 0
.bx-element.active 
  border 2px solid rgba(218, 151, 0, 0.88);
.bx-pager
  margin 10px 0 0 0
  a
    width 24%
    margin-right 1%
    border 2px solid transparent
    img 
      width 100% 
      height auto
.section-main
  &__col
    &_270 
      width 270px
    &_650 
      width 626px
      margin-right 40px
  &__by
    margin 20px 0 0 0
    .button 
      text-decoration none
      margin-right 15px
    label
      font-size 15px
      font-weight normal
      position relative 
      top -2px
    select
      font-size 15px
  &__price 
    margin 56px 0
  &__discount 
    text-decoration line-through
    color #9c9c9c
    font-size 18px
  &__primary 
    font-size 18px 
    color black
    margin-left 15px
  &__popup
    width 100%
    padding 1px 40px 40px 40px
    background: white
    border-radius (4px)
    box-shadow: 0 0px 99px rgba(255, 165, 0, 0.45);
    position relative
    &:after 
      background: url(../images/bgtr.png) no-repeat center 
      content ''
      position absolute
      width 100%
      background-size cover
      height 313px 
      top -313px
      left 0px
  &__ul 
    width 150px
    li 
      margin 12px 0
      font-size 15px
      color #9c9c9c
      span 
        color black
        font-size 15px
.deal
  font-size 18px
  width 600px 
  margin 0 auto 50px auto
  text-align: center
  display block
.close 
  retinaSprite($sprite_close_group)
  position absolute
  right 20px 
  top 20px
  cursor pointer
input 
textarea
  padding 10px 
  border 2px solid red
  border-radius 4px
  display block
  width 100%
  font-size 18px
  color #c9c9c9
.section-cont__h2_m
  margin-bottom 20px
.section-cont__town-wrap 
  padding-bottom 60px
  margin 0 0 70px 0
.section-cont__container_779
  width 779px 
  margin 0 auto
.section-cont__town 
  margin 0 0 50px 0
  text-align: center
  span 
    display block
    margin 0 0 10px 0
.section-cont__span_m
  margin 0 0 15px 0
.section-cont__col_m 
  margin 30px 0
.section-cont__adr
  width 920px 
  margin 50px auto 100px auto
  a 
    margin-bottom 15px
    display block
  .section-cont__col 
    margin-right 100px
    position relative
    &:first-child:before 
      content '1'
      display inline-block
      position absolute
      left -20px
      top 3px
    &:nth-child(2):before 
      content '2'
      display inline-block
      position absolute
      left -20px
      top 3px
.section-cont__adr1
  display block
  margin 0 0 5px 0
.section-cont__container
  img 
    max-width 100%
    height auto
    margin 0 auto
    display block
body .contacts__img 
  margin 0 0 30px 0
.form__input 
  height 50px
  padding 0 10px
.section-cont__form2
  width 960px 
  margin 0 auto 30px auto
  .button
    margin-left 15px
    width 200px
.section-cont__col_200
  width 200px
.section-main__col_p 
  width 540px
  p 
    margin-bottom 30px
  li 
    margin-bottom 30px 
    font-size 18px 
    line-height 23px
    position relative
    left 25px
    &:before 
      content ''
      width 13px 
      height 1px 
      background: black
      display block
      left -25px
      position absolute
      top 12px
  ul 
    width 500px
.red_1 
  margin-top 30px
.red_2 
  margin-top 90px
.section-cont__h2_800
  width 820px
  text-align left
  font-size 37px
  margin-left auto
  margin-right auto
  padding-left 5px
  line-height 50px
.section-main__row_1000
  width 1030px
  margin 0 auto
  padding-left 110px
.section-cont__p_800
  width 806px 
  margin 40px auto 50px auto
.section-cont__h2_left
  text-align left
.section-cont__icon6
  retinaSprite($sprite_map_group)
  margin-right 20px
.section-cont__row_map
  margin 80px 0
.f-left 
  float left
  margin-right 20px
.clear
  clearfix()
  width 1000px 
  margin 0 auto
.section-cont__slider
  margin 50px 0
.ip-li 
  margin 10px 0 120px 0
  li 
    margin 10px 0 15px 0
.ip1
  color grey
  font-size 18px
  width 200px
  vertical-align: top
.section-cont__slider_reset
  img 
    margin-bottom 15px
.bold 
  font-weight bold
.popup-wrapper 
  background: rgba(254, 225, 117, 0.53);
  position fixed 
  width 100% 
  height 100%
  z-index 1
  overflow-y scroll
.popup-content
  margin auto auto
  flex-direction column
.popup__p
  text-align: center
  margin 20px 0
  font-size 18px
  a 
    margin-left 6px
.another_reset 
  position absolute
  left 50px
  top 110px
.another_m 
  margin 30px 0 20px 0
  position relative 
  left -20px
.size 
  input 
    margin-left 9px
  .button 
    height 55px 
    line-height @height
    font-size 18px
  .border_yellow 
    width 210px
.popup
  background: white 
  width 780px
  position relative
  border-radius (2px)
  padding 30px 90px
  overflow hidden
.border_yellow 
  border: 2px solid #eecc50;
  height 55px 
  line-height @height
.success 
  margin 100px 0
.share
  text-align: center
.share-icons 
  margin-left 10px
  display inline-block
  img 
    display block
.popup__h2 
  font-size 48px 
  text-align: center
.popup__tel 
  width 100% 
  text-align: center
  margin 35px 0 50px 0
.section-cont__row_33 
  width 33% 
.shadow
  position relative
  &:after
    content ''
    box-shadow: 0 0px 40px 42px #fff;
    width 100%
    height 1px
    display block
    z-index 1 
    position absolute
    bottom 0px 
    left 0px
.section-cont__or_reset
  color: #a99271;
  text-align: center;
  margin: 0px 0 0px 0;
  position: relative;
  z-index: 1;
.more 
  margin-left 10px
.popup__tel_reset
  margin: 35px 0 28px 0;
.section-main__col_popup
  margin 20px 0 0 0
.form__select_popup
.popup__input
  border-radius (3px)
  background: #efefed
  font-size 18px
  color black
  height 55px
  line-height @height
  width 286px
  padding 0 20px
  position relative
  margin-bottom 30px
  border 2px solid transparent
  &:focus 
    border 2px solid #EECC50
    background: white
.form__input_583 
  width 583px 
  height 55px 
  line-height @height
  margin-bottom 30px
.itog 
  font-style italic 
  font-size 18px
.popup__input_443
  width 443px
.label__select
  position relative
  &:after 
    content ''
    border-top 7px solid black 
    border-left 5px solid transparent
    border-right 5px solid transparent
    display block
    position absolute
    z-index 1
    top 7px 
    right 20px
.bold 
  margin 0 0 15px 0
  font-size 18px
  a 
    font-weight normal
.button_form
  height 72px 
  line-height @height
  font-size 18px
  margin 40px 0 35px 0
.another_white
  background: white
  &:before 
    border-right-color white
.fotorama
.fotorama__wrap
.fotorama__stage
  width 100% !important
.fotorama__nav-wrap
  magin-bottom 10px
.fotorama__thumb-border
  border-color rgba(218,151,0,0.88);
.success2
  padding 10px 0 70px 0
  margin 0 0 30px 0
  border-bottom 1px solid rgba(122, 93, 78, 0.29);
  p 
    line-height 30px
.popup_vid 
  padding 30px 30px
  video
  .section-cont__video
    margin 40px 0 50px 0
    &:last-child
      margin-bottom 20px
@media only screen and (max-width : 1160px)
  .section-cont__span3
    margin: 65px 0 50px 35%;
  .section-cont__photo 
    margin-left: 35%;
@media only screen and (max-width : 1050px)
  .header__logo 
    width 340px
  .section-main__row_1000
  .clear
    width 960px
  h1 
    letter-spacing 6px