doctype
html
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    title Автотепло
  body
    .wrapper
      section.section-menu.row.between.center
        .section-menu-links
          a(href="") Преимущества 
          a(href="") Гарантии
          a(href="") Где купить?
          a(href="") Доставка и оплата
          a(href="") Отзывы
          a(href="") Установка
        .section-men-button
          form(action="").header__form
            label().label__form.label__form_select.label__form_select_grey В наличии
              select.label__select
                option(value="Воронеж") в 32 годродах
                option(value="Воронеж 2") в 33 городах
          a(href="").button.button_red Купить
      section.section-head
        include head.jade
      section.section-main
        .section-wrapper
          h2.section-cont__h2.section-cont__h2_m О компании
          p.section-cont__p.section-cont__p_800 История нашей компании начинается с 1997 года. Именно с этого времени наша <br> компания начала заниматься теплоизоляционными материалами. Бизнес компании <br> успешно развивался, и начиная с 1999 года компания стала заниматься, <br> в том числе метизной продукцией, бензо, электро и ручным инструментом.
          .section-main__row.clear
            img(src="images/bg27.jpg", width='775' alt="").f-left
            p.section-cont__p Наш новый производст-венный комплекс в Челябинске
          h2.section-cont__h2.section-cont__h2_800 В 2005 году мы изобрели "Автотепло" <br> И уже 10 лет самостоятельно производим его <br> в Челябинске и продаем по всей России.
          .section-main__row.row.between.section-main__row_1000
            .section-main__col.section-main__col_p
              p.section-cont__p Так как в Челябинске климат резко континентальный, и зимы  бывают весьма и весьма морозные, проблемы замерзания и прогрева двигателей не могли нас обойти стороной.
              p.section-cont__p После длительных экспериментов в 2004 году было найдено решение, а в 2005 году был запатентован продукт «Автотепло». Почти год ушёл на создание цеха, оснащённого самым современным оборудованием по производству автоутеплителей. В 2006 году начались продажи.
              p.section-cont__p В настоящее время наша компания обладает своей собственной торговой сетью в Челябинске, разветвлённую сеть дилеров на территории России, и успешно развивается по 3 направлениям:
              ul
                li Производство и продажа огнестойкого универсального утеплителя двигателя «Автотепло»;
                li Продажа метизов, крепежа, электромонтажных инструментов, электро-, бензоинструментов;
                li Производство и продажа теплоизоляционных материалов — матов высокотемпературных.
            .section-cont__col.section-cont__col_200
              img(src="images/bg12.jpg", width='211' height='101' alt="")
              p.section-cont__p Автотепло прошло все тесты на безопасность для человека и окружающией среды
              a(href="").red.red_reset Гарантии и опасновсть подделок »
          .section-cont__slider.section-cont__slider_reset
            .section-cont__s-wrapper
              .section-cont__slick
                .section-cont__slide
                  img(src="images/bg40.jpg", width='780' height='434' alt="")
                  .section-cont__row
                    .section-cont__col.auto__width
                      p.section-cont__p  Наш новый производственный комплекс в Челябинске
                .section-cont__slide
                  img(src="images/bg39.jpg", width='780' height='434' alt="")
                  .section-cont__row
                    .section-cont__col.auto__width
                      p.section-cont__p  Наш новый производственный комплекс в Челябинске
          .section-main__row.row.between.section-main__row_1000
            .section-main__col.section-main__col_p
              span.section-cont__span Участие в выставках
              p.section-cont__p Наша компания принимает участие в международных <br> автомобильных выставках. Наши стенды были <br> на «MIMS - Automechanika» 2011—2013 годов.
              span.section-cont__span СМИ о нас и информация для журналистов
              p.section-cont__p Так как в Челябинске климат резко континентальный, и зимы  <br> бывают весьма и весьма морозные, проблемы замерзания <br> и прогрева двигателей не могли нас обойти стороной.
            .section-cont__col.section-cont__col_200
              a(href="").red.red_reset.red_1 Сертификаты и фотографии стендов »
              a(href="").red.red_reset.red_2 Фотографии и видео
          .section-main__row.section-main__row_1000
            .section-main__col
              span.section-cont__span Реквизиты компании
              ul.ip-li
                li
                  span.ip1 Наименование предприятия
                  span.ip2 ООО «АВТОТЕПЛО»
                li
                  span.ip1 Юридический адрес
                  span.ip2 454106, г. Челябинск, <br> ул. Краснознаменная, д. 28
                li
                  span.ip1 Фактический адрес
                  span.ip2 4541008, г. Челябинск, <br> ул. Краснознаменная, д. 28, офис 10
                li
                  span.ip1 Телефон/Факс
                  span.ip2 (351) 797-15-25
                li
                  span.ip1 ИНН
                  span.ip2 7447209830
                li
                  span.ip1 КПП
                  span.ip2 744701001
                li
                  span.ip1 ОГРН
                  span.ip2 1127447007159
      include footer.jade