doctype
html
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    title Автотепло
  body
    .wrapper
      .popup-wrapper.row
        .popup-content.animated.fadeInUp.row
          .popup.popup_4
            .close
            h2.popup__h2 Купить автотепло
            span.popup__tel.popup__tel_reset Выберите модель
            a(href="").another.red.red_18.another_reset К списку марок
            .section-cont__row.row.between.shadow.shadow_394
              ul.section-cont__row_50
                li.filter__item
                  a(href="").red C-max
                li.filter__item
                  a(href="").red Escape
                li.filter__item
                  a(href="").red Escort
              ul.section-cont__row_50
                li.filter__item
                  a(href="").red Explorer
                li.filter__item
                  a(href="").red Expedition
                li.filter__item
                  a(href="").red Fiesta
              ul.section-cont__row_50
                li.filter__item
                  a(href="").red Focus
                li.filter__item
                  a(href="").red Fusion
                li.filter__item
                  a(href="").red Maverick
              ul.section-cont__row_50
                li.filter__item
                  a(href="").red Mondeo
            p.section-cont__or.section-cont__or_reset Если автомобиля нет:
              a(href="") Подбор по размерам капота
              | •
              a(href="") По номеру автотепла
          p.popup__p (4732) 150-50-50  •  8 800 150-50-50  •
            a(href="").red Заказать обратный звонок