doctype
html
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    title Автотепло
  body
    .wrapper
      .popup-wrapper.row
        .popup-content.animated.fadeInUp.row
          .popup
            .close
            .section-cont__row
              .section-main__col.section-main__col_popup
                .section-forms
                  form(action="")
                    .span.bold Вы в городе
                    label().label__select
                      select.form__select_popup
                        option(value="") Воронеж
                        option(value="") Москва
                    .span.bold Доставка: Cамовывоз 
                      a(href="").red доставка по адресу
                    .popup__adr
                      img(src="images/bg40.jpg", alt="")
                    span.ch__adr Выберите адрес, где можно будет забрать заказ:
                    .form__row.row.between
                      label().filter__label.row.between
                        .input-wrapper__col_89.row
                          .input-wrapper
                            input(type="radio", name='dest' ).filter__checkbox_radio
                            i
                          .span-wrapper
                            span Коломяжский пр-т 28, корп 2, помещение 29-Н
                            span.del__adr можно забрать сегодня, после оформления заказа
                        .input-wrapper__col
                          span.del__adr пн-пт с 9:00 до 18:00, сб с 12:00 до 18:00, вс — выходной
                    .form__row.row.between
                      label().filter__label.row.between
                        .input-wrapper__col_89.row
                          .input-wrapper
                            input(type="radio", name='dest' ).filter__checkbox_radio
                            i
                          .span-wrapper
                            span Коломяжский пр-т 28, корп 2, помещение 29-Н
                            span.del__adr можно забрать сегодня, после оформления заказа
                        .input-wrapper__col
                          span.del__adr сб с 12:00 до 18:00
                    .form__row.row.between
                      label().filter__label.row.between
                        .input-wrapper__col_89.row
                          .input-wrapper
                            input(type="radio", name='dest' ).filter__checkbox_radio
                            i
                          .span-wrapper
                            span Коломяжский пр-т 28, корп 2, помещение 29-Н
                            span.del__adr можно забрать сегодня, после оформления заказа
                        .input-wrapper__col
                          span.del__adr вс — выходной
                    .span.bold Телефон
                    input(type="text", placeholder='Номер с 8 или +7').popup__input

include scripts.jade