doctype
html
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    title Автотепло
  body
    .wrapper
      .popup-wrapper.row
        .popup-content.animated.fadeInUp.row
          .popup
            .close
            h2.popup__h2 Вооронеж
            span.popup__tel (4732) 150-50-50  •  8 800 150-50-50
            .form 
              form(action="")
                input(type="text", placeholder='Поиск города').form__input
            .section-cont__row.row.between.shadow
              ul.section-cont__row_33
                li.filter__item
                  a(href="").red Москва
                li.filter__item
                  a(href="").red Санкт-Петербург
                li.filter__item
                  a(href="").red.red_bold  Абакан
                li.filter__item
                  a(href="").red Алушта
                li.filter__item
                  a(href="").red Анапа
                li.filter__item
                  a(href="").red Арзамас
                li.filter__item
                  a(href="").red Архангельск
              ul.section-cont__row_33
                li.filter__item
                  a(href="").red Москва
                li.filter__item
                  a(href="").red Санкт-Петербург
                li.filter__item
                  a(href="").red Абакан
                li.filter__item
                  a(href="").red Алушта
                li.filter__item
                  a(href="").red.red_bold  Анапа
                li.filter__item
                  a(href="").red Арзамас
                li.filter__item
                  a(href="").red Архангельск
              ul.section-cont__row_33
                li.filter__item
                  a(href="").red Москва
                li.filter__item
                  a(href="").red Санкт-Петербург
                li.filter__item
                  a(href="").red Абакан
                li.filter__item
                  a(href="").red Алушта
                li.filter__item
                  a(href="").red Анапа
                li.filter__item
                  a(href="").red.red_bold  Арзамас
                li.filter__item
                  a(href="").red Архангельск