//- jade/footer.jade
footer.footer
  .footer-wrapper
    .content-wrapper.content-wrapper_vid
      .section-cont__row.row.between
        .section-cont__col.section-cont__col_50
          span.section-cont__span Група ВКонтакте
          img(src="images/bg21.png", alt="").footer__img
        .section-cont__col.section-cont__col_50
          span.section-cont__span Сообщество в Однокласниках
          img(src="images/bg21.png", alt="").footer__img
      .section-cont__row.row.ul-wrapper
        ul.footer__ul
          li.footer__item
            a(href="").footer__link.red Автотепло
          li.footer__item
            a(href="").footer__link.red Приемущества
          li.footer__item
            a(href="").footer__link.red Гарантии
          li.footer__item
            a(href="").footer__link.red Где купить?
          li.footer__item
            a(href="").footer__link.red Доставка и оплата
          li.footer__item
            a(href="").footer__link.red Отзывы
          li.footer__item
            a(href="").footer__link.red Установка
        ul.footer__ul
          li.footer__item
            a(href="").footer__link.red О компании
          li.footer__item
            a(href="").footer__link.red СМИ о нас
          li.footer__item
            a(href="").footer__link.red Мероприятия
          li.footer__item
            a(href="").footer__link.red Реквизиты
        ul.footer__ul
          li.footer__item
            a(href="").footer__link.red Дилеры и партнеры
          li.footer__item
            a(href="").footer__link.red Поиск по городу и карта
        ul.footer__ul
          li.footer__item
            a(href="").footer__link.red Контакты
          li.footer__item
            a(href="").footer__link.red Главный офис в Челябинске 
          li.footer__item
            a(href="").footer__link.red Филиал в Маскве
          li.footer__item
            a(href="").footer__link.red Филиал в Екатеринбурге
          li.footer__item
            a(href="").footer__link.red Электронная почта
      .section-cont__row.inline
        p.section-cont__fp Круглосуточно и бесплатно: <span>8 800 150-50-50</span>
        p.section-cont__fp Воронеж: <span>8 800 150-50-50</span>
        a(href="").red Обретный звонок
      .section-cont__row.del
        a(href="").red Доставка и оплата
        a(href="").red Акции
        a(href="").red Конфиденциальновсть
  .footer__bottom.content-wrapper_white 
    .section-cont__span Дизайн и проектирование сайта - 
      a(href="").red Сейчас
include scripts.jade