//- jade head.jade
header.header.row.between.center
  .header__col
    a(href="").header__logo.row.center
      .section-cont__row
        span.header__span1 Челябинская  
        span.header__span1 Фабрика Утеплителей
        span.header__span2 работаем с 1997 года
  .header__col
    .header__row.row.end
      form(action="").header__form
        label().label__form.label__form_select
          select.label__select
            option(value="Воронеж") Воронеж
      span.header__phone (4732) 150-50-50 • 8 800 150-50-50
    .header__row.row.end
      menu
        ul.menu.row
          li.menu__item.menu__item_active
            a(href="prod.html").menu__link Продукция
          li.menu__item
            a(href="about.html").menu__link О компании
          li.menu__item
            a(href="diler.html").menu__link Дилеры и партнеры
          li.menu__item
            a(href="contacts.html").menu__link Контакты