doctype
html
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    title Автотепло
  body
    .wrapper
      ul.footer__ul
        li.footer__item
          a(href="city.html").footer__link.red Выбор города
        li.footer__item
          a(href="by-avtoteplo.html").footer__link.red Купить автотепло
        li.footer__item
          a(href="by-avtoteplo2.html").footer__link.red Купить автотепло 2
        li.footer__item
          a(href="by-avtoteplo3.html").footer__link.red Купить автотепло 3
        li.footer__item
          a(href="by-avtoteplo4.html").footer__link.red Купить автотепло 4
        li.footer__item
          a(href="by-avtoteplo5.html").footer__link.red Купить автотепло 5
        li.footer__item
          a(href="by-avtoteplo6.html").footer__link.red Купить автотепло 6
        li.footer__item
          a(href="uspeh.html").footer__link.red Успех
        li.footer__item
          a(href="skidki.html").footer__link.red Скидки
        li.footer__item
          a(href="video.html").footer__link.red video
        li.footer__item