//- jade/section-geo.jade
.section-geo__top.row.between.column-m.section-geo__top_mobile
    ul.section-geo__ul
      li
        a(href="") ТЦ Замок
        ul
          li
            .row.between.active
              .row.between.column-m
                .section-geo__row.row.center
                  .section-geo__adr-icon
                  span.section-geo__a Минск, ул. Чкалова, 35
                .section-geo__row.row.center
                  .section-geo__adr-icon2
                  .section-geo__adr-wrap
                    span.section-geo__adr-dat +375 29 296-10-30
                    span.section-geo__dat +375 17 296-10-30 
                .section-geo__row.row.center
                  .section-geo__adr-icon3
                  span.secion-slider__dat Сегодня до 22.00
      li
        a(href="") Минск, пр. Победителей, 17
        ul
          li 
            .row.between
              .row.between.column-m
                .section-geo__row.row.center
                  .section-geo__adr-icon
                  span.section-geo Минск, ул. Чкалова 33
                .section-geo__row.row.center
                  .section-geo__adr-icon2
                  .section-geo__adr-wrap
                    span.section-geo__adr-dat +375 29 296-10-30
                    span.section-geo__dat +375 17 296-10-30 
                .section-geo__row.row.center
                  .section-geo__adr-icon3
                  span.secion-slider__dat Сегодня до 22.00
      li
        a(href="") ТЦ Столица
        ul
          li
            .row.between
              .row.between.column-m
                .section-geo__row.row.center
                  .section-geo__adr-icon
                  span.section-geo Минск, ул. Чкалова 35
                .section-geo__row.row.center
                  .section-geo__adr-icon2
                  .section-geo__adr-wrap
                    span.section-geo__adr-dat +375 29 296-10-30
                    span.section-geo__dat +375 17 296-10-30 
                .section-geo__row.row.center
                  .section-geo__adr-icon3
                  span.secion-slider__dat Сегодня до 22.00
    a(href="").section-geo__all-a.arrow1 Все адреса (33)