doctype
html
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    title Автотепло
  body
    .wrapper
      .popup-wrapper.row
        .popup-content.animated.fadeInUp.row
          .popup.popup_5
            .close
            h2.popup__h2 Успех!
            .success
              p.popup__p Номер вашего заказа: 
                a(href="").red 34205
              p.popup__p В течении рабочего дня с вами свяжется наш менеджер
            .share.row.center.center-c
              p.popup__p Расскажите друзьям о покупке:
              .share-icons 
                img(src="images/share.png", alt="")
          p.popup__p (4732) 150-50-50  •  8 800 150-50-50  •
            a(href="").red Заказать обратный звонок
