doctype
html
  head 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="icon", type='image/x-icon', href="favicon.ico")
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    title Автотепло
  body
    .wrapper
      .popup-wrapper.row
        .popup-content.animated.fadeInUp.row
          .popup.popup_vid
            .close
            h2.popup__h2 Видео про автотепло
            .section-cont__video
              <iframe width="560" height="315" src="https://www.youtube.com/embed/7BdaWUxFYpo" frameborder="0" allowfullscreen></iframe>
              p Про "Автотепло" на НТВ в программе "Первая передача"
            .section-cont__video
              <iframe width="560" height="315" src="https://www.youtube.com/embed/7BdaWUxFYpo" frameborder="0" allowfullscreen></iframe>
              p Про "Автотепло" на НТВ в программе "Первая передача"